{% extends 'base.html' %}
{% block content %}


<!-- ============================ COMPONENT LOGIN   ================================= -->

<section class="section-content padding-y" style="min-height:84vh">


    <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Trocar a senha</h4>
       <p> Identifique-se para receber um e-mail com as instruções e o link para criar uma nova senha.</p>

      <form action="{% url 'forgotPassword' %}" method="POST">
          {% csrf_token %}
             <div class="form-group">
			        <input id="id_email" name="email" class="form-control" required="" placeholder="Digite seu e-mail" type="text">
			    	<small class="form-text text-muted">te enviaremos link no e-mail cadastrado</small>
                    <small class="form-text text-muted"> <strong> <font color="red">  {{ form.email.errors }} </font> </strong></small>
			</div> <!-- form-group end.// -->

              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Solicitar Redefinição </button>
              </div> <!-- form-group// -->
      </form>
          <br>
          <div class="form-group">
                <a href="{% url 'register' %}" class="float-right">Fazer Cadastro?</a>
          </div> <!-- form-group form-check .// -->
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->



</section>

    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endblock %}