{% extends 'accounts/dashboard/baseDashboard.html' %}
{% load static %}
{% block dashboard %}

<!-- ========================= MAIN CONTENT ========================= -->
<main class="col-md-9">

	            <!-- MENSAGENS DA PAGINA START -->
		  	{% include 'includes/alert.html'%}
			<!-- MENSAGENS DA PAGINA ENDS -->

		<article class="card mb-3">
			<div class="card-body">

				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="{% static 'images/avatars/avatar3.jpg' %}">
						</div>
						<div class="text">
							<strong> {{ user.first_name }} </strong> <br>
							{{ user.email }} <br>
							<a href="#">Editar</a>
						</div>
				</figure>
				<hr>
				<p>
					<i class="fa fa-map-marker text-muted"></i> &nbsp; Meu endereço:
					 <br>
						Avenida Suiça - 390, Jardim Aeroporto, Capelinha - MG
					<a href="{% url 'createAddress' %}" class="btn-link"> Editar</a>
				</p>



				<article class="card-group">
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">38</h5>
							<span>Pedidos</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">5</h5>
							<span>Favoritos</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">12</h5>
							<span>Aguardando entrega</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">50</h5>
							<span>Recebidos</span>
						</div>
					</figure>
				</article>


			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

		<article class="card  mb-3">
			<div class="card-body">
				<h5 class="card-title mb-4">Pedidos Recentes </h5>

				<div class="row">
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="{% static 'images/items/1.jpg' %}" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Great item name goes here </p>
							<span class="text-warning">Pendente</span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="{% static 'images/items/2.jpg' %}" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Machine for kitchen to blend </p>
							<span class="text-success">Entregue</span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside mb-3">
						<div class="aside"><img src="{% static 'images/items/3.jpg' %}" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Ladies bag original leather </p>
							<span class="text-success">Entregue  </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
			</div> <!-- row.// -->

			<a href="#" class="btn btn-outline-primary"> Todos Pedidos  </a>
			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

	</main> <!-- col.// -->
<!-- ========================= MAIN CONTENT END// ========================= -->

{% endblock %}