{% extends 'accounts/dashboard/baseDashboard.html' %}
{% load static %}
{% block dashboard %}
<article class="card mb-4 col-md-8" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">

            <!-- MENSAGENS DA PAGINA START -->
		  	{% include 'includes/alert.html'%}
			<!-- MENSAGENS DA PAGINA ENDS -->

        <h1>Atualizando Endereço de entrega </h1>

 <form  method="POST" class="form-group">
                            {% csrf_token %}

                                <!-- formulário de registro de clientes start -->
             <fieldset class="border p-2">
                    <legend  class="w-auto">Quem vai receber a encomenda?</legend>
                    <div class="form-row ">
                        <div class="col form-group">
                            <label for="id_fullName">Nome completo*</label>
                            <input type="text" name="fullName" value="{{ form.fullName.value }}" id="id_fullName placeholder=" placeholder="ex: fulado da silva"  class="form-control" required ">
                            <input type="text" name="user" hidden value="{{ form.user.value }}" id="id_user"  class="form-control" required >
                        </div> <!-- form-group end.// -->
                        <div class=" col form-group col-md-3">
                            <label for="id_phoneNumber">Telefone*</label>
                            <input type="text" name="phoneNumber" id="id_phoneNumber" value="{{ form.phoneNumber.value }}" maxlength="15" placeholder="(DDD) 9 9999-9999" class="form-control" required >
                            <small class="form-text text-muted"> <strong> <font color="red"> {{ form.phoneNumber.errors }} </font> </strong></small>
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">

                        <div class="col form-group col-md-3">
                            <label for="id_docCPF">CPF*</label>
                            <input type="text" name="docCPF" id="id_docCPF" value="{{ form.docCPF.value }}" maxlength="15" placeholder="000.000.000-00"   class="form-control" required >
                            <small class="form-text text-muted"> <strong> <font color="red"> {{ form.docCPF.errors }} </font> </strong></small>
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
            </fieldset>
             <br>
             <fieldset class="border p-2 mb-4">
                <legend  class="w-auto">Endereço de Entrega</legend>
                        <div class="form-row">
                                <div class="col form-group">
                                    <label for="id_cep">cep*</label>
                                    <input type="text" name="cep" id="id_cep"  value="{{ form.cep.value }}" maxlength="9" placeholder="Digite seu Cep" maxLength="2"  class="form-control" required >

                                </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                                <div class="col form-group">
                                        <label for="id_state">estado*</label>
                                        <input type="text" name="state" id="id_state" value="{{ form.state.value }}" placeholder="ex:MG"  class="form-control" required >
                                    </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                        <label for="id_city">cidade*</label>
                                        <input type="text" name="city" id="id_city"  value="{{ form.city.value }}" maxlength="15" placeholder="Ex: Capelinha" class="form-control" required >
                                    </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                        <div class="form-group">
                                <label for="id_district">Bairro*</label>
                                <input type="text" name="district" id="id_district" value="{{ form.district.value }}" maxlength="100"  class="form-control" placeholder="ex: Centro"   required >

                            </div> <!-- form-group end.// -->
                        <div class="form-group">
                                <label for="id_street">rua/avenida*</label>
                                <input type="text" name="street" id="id_street" value="{{ form.street.value }}" maxlength="100"  class="form-control" placeholder="ex: Rua das flores"   required >
                            </div> <!-- form-group end.// -->
                        <div class="form-row">
                                <div class="col form-group">
                                        <label for="id_number">número*</label>
                                        <input type="number" name="number" id="id_number" value="{{ form.number.value }}" placeholder="ex: 999"    class="form-control" required >
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                        <label for="id_complement">complemento*</label>
                                        <input type="text" name="complement" id="id_complement" value="{{ form.complement.value }}" maxlength="100"   placeholder="Ex: próximo a padaria" class="form-control" required >
                                </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->

                        <div class="form-row">
                               <label for="id_observation"> Observações sobre entrega?</label>
                               <input type="text"  name="observation" id="id_observation" value="{{ form.observation.value }}" class="form-control"  maxlength="500" >
                       </div>

                </fieldset>
                        <div class="form-row">
                            <small class="form-text text-muted"> <strong> <font color="red"> {{ form.non_field_errors }} </font> </strong></small>
                            <small class="form-text text-muted"> <strong> <font color="red"> {{ form.user.errors }} </font> </strong></small>

                            <button type="submit" name="submit" class="btn btn-success  btn-lg  btn-block"> Salvar Endereço </button>
                        </div>
     </form>


    </div> <!-- card-body.// -->
</article>

{% endblock %}
<!-- formulário de combrança ENDS -->
