{% load static %}
{% block content %}
<header class="section-header">

    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop4">
                <ul class="navbar-nav">
                    <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> E-mail </a></li>
                    <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Contato </a></li>
                </ul> <!-- list-inline //  -->
            </div> <!-- navbar-collapse .// -->
        </div> <!-- container //  -->
    </nav>

    <section class="header-main border-bottom ">

        <div class="container mb-3 d-sm-flex flex-sm-wrap  justify-content-between ">
            <!-- logo START -->
            <div class="">
                <a href="{% url 'home' %}" class="brand-wrap">
                    <img class="logo" src="{% static './images/logoTfitness.png' %}"/>
                </a><!--logo// -->
            </div>

            <!-- BARRA DE PESQUISA START -->
            <div class="w-75 w-sm-100 d-inline">
                <form action="{% url 'search'  %}" class="search">

                    <div class="input-group input-group-lg">
                        <input  name="search_key" type="text" class="form-control" aria-label="Digite o produto que deseja" aria-describedby="inputGroup-sizing-lg" placeholder="busque aqui seu produto">
                        <div class="input-group-prepend">

                             <button class="btn btn-primary rounded-right" id="inputGroup-sizing-lg" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </form>
             </div>  <!--- BARRA DE PESQUISA end ///--->

        </div>


        <div class="container  mb-3">
            <div class="d-flex justify-content-end ">
                {% if user.is_authenticated %}
                <div class="widget-header">
                    <span class="title text-muted">olá, {{ user.first_name }} :)</span>
                    <div>
                        <a href="{% url 'dashboard' %}">minha conta</a><span class="dark-transp"> ou </span>
                        <a href="{% url 'logout' %}"> sair</a>
                    </div>
                </div>
                {% else %}
                <div class="widget-header">
                    <small class="title text-muted">Bem Vindo :)</small>
                    <div>
                        <a href="{% url 'login' %}">Entre</a> <span class="dark-transp"> ou </span>
                        <a href="{% url 'register' %}"> Cadastre-se</a>
                    </div>
                </div>
                {% endif %}

                <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                    <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                    <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                </a>
            </div>

        </div>



      <!-- categoria START-->
        <div class="container ">
             <div class="wrapper  ">

                  <ul class="tabs-box1  flex-wrap d-lg-flex d-md-flex  justify-content-sm-center flex-lg-nowrap flex-md-nowrap">
                       <li class="tab1 {% url 'store' %} border " > <a class="rounded-sm " href="{% url 'store' %}"> TODAS </a></li>
                       {% for cat in links %}
                         <li class="tab1 border  {% if cat.get_url in request.get_full_path   %} active {% else %} # {% endif %}" >
                             <a class=" border-right-0 rounded-sm" href="{{ cat.get_url }}"> {{ cat.category_name | upper }} </a></li>
                       {% endfor %}

                  </ul>
            </div>
            </div><!-- categoria.// -->

    </section> <!-- header-main .// -->


</header> <!-- section-header.// -->

{% endblock %}