{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
	{% if not cart_itens %}
	<div class="text-center" >
		<h2> Seu carrinho está vazio :( </h2>
		<a href="{% url 'store' %}" class="btn btn-primary"> ir para loja</a>
	</div>
	{% else %}

<div class="row">
		<aside class="col-lg-9">
	<div class="card">
	<table class="table table-borderless table-shopping-cart">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	  <th scope="col">Produto</th>
	  <th scope="col" width="120">Quantidade</th>
	  <th scope="col" width="120">Preço</th>
	  <th scope="col" class="text-right" width="200"> </th>
	</tr>
	</thead>
	<tbody>
		{% for item in cart_itens %}
	<tr>

		<td>
			<figure class="itemside align-items-center">
				<div class="aside">
					<img  src="{{ item.product.images.url }}" alt="{{ item.product.product_name }}"  title="{{ item.product.product_name }}" class="img-sm">
				</div>
				<figcaption class="info">
					<a href="{{ item.product.get_url }}"  title="{{ item.product.product_name }}" id="CartProduct" class="title text-dark">{{ item.product.product_name}}</a>
					<!-- mostrando as váriações do produto -->
					<p class="text-muted small">
						{% if item.variations.all %}
							{% for i in item.variations.all %}
								{{ i.variation_category | capfirst }} : {{ i.variation_value | capfirst }}
								</br>
							{% endfor %}
						{% endif %}
					</p>
				</figcaption>
			</figure>
		</td>
		<td>
			<!-- col.// -->
						<div class="col">
							<div class="input-group input-spinner">
								<div class="input-group-prepend">
									<a href="{% url 'remove_cart' item.product_id item.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
								</div>
								<input type="text" class="form-control"  value="{{ item.quantity }}">
								<div class="input-group-append">
									<form action="{% url 'add_cart' item.product.id  %}" method="POST">
										{% csrf_token %}
										<!-- todas as variações do produto -->
										{% for item in item.variations.all %}
											<input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
										{% endfor %}
											<button type="submit" class="btn btn-light"  id="button-minus"> <i class="fa fa-plus"></i> </button>
									</form>
								</div>
							</div> <!-- input-group.// -->
						</div> <!-- col.// -->
		</td>
		<td>
			<div class="price-wrap">
				<var class="price">R$ {{ item.sub_total }}</var>
				<small class="text-muted"> R$ {{ item.product.price }} cada.</small>
			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right">
			<a href="{% url 'remove_cart_item' item.product_id item.id %}" onclick="return confirm('Você deseja remover: {{ item.product.product_name }} ?')" class="btn btn-danger"> Remover</a>
		</td>
</tr>
	{% endfor %}



</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Valor dos Produtos:</dt>
				<!-- VALOR TOTAL DO CARRINHO SEM O FRETE -->
			  <dd class="text-right">R$ {{ total }}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>frete:</dt>
			  <dd class="text-right"> R$ {{ freight_product }}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
				<!-- VALOR FINAL DO CARRINHO ADICIONADO O VALOR DO FRETE -->
			  <dd class="text-right text-dark b"><strong>R$ {{ grand_total }}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png' %}" height="26">
			</p>
			<a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> IR PARA O PAGAMENTO </a>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">CONTINUAR COMPRANDO</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
	{% endif %}
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}