{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
	<div class="img-big-wrap">
	   <a href="#"><img src="{{ product.images.url }}"></a>
	</div> <!-- img-big-wrap.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">


<form action="{% url 'add_cart' product.id %}" method="POST">
	{% csrf_token %}
		<article class="content-body">

		<h2 class="title">{{ product.product_name }}</h2>

		<div class="mb-3">
			<var class="price h4">R$ {{ product.price }}</var>
		</div>

		<p> {{ product.description }} </p>


		<hr>
			<div class="row">
				<div class="item-option-select">
					{% if product.variation_set.colors  %}
					<h6>Cor</h6>
					<select name="cor" class="form-control" required title="Selecione uma cor" >
					 		<option value="" disabled selected>Escolha uma cor</option>
						{% for i in product.variation_set.colors  %}
							<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
						{% endfor %}
					</select>
					{% endif %}
				</div>
			</div> <!-- row.// -->
			<div class="row">
				<div class="item-option-select">
					{% if product.variation_set.sizes  %}
						<h6>Tamanho</h6>
						<select name="tamanho" class="form-control" required title="Selecione um tamanho">
							<option value="" disabled selected>Escolha um tamanho</option>
							{% for i in product.variation_set.sizes %}
								<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
							{% endfor %}
						</select>
					{% endif %}
				</div>
			</div> <!-- row.// -->
			<hr>
			<!-- CASO O PRODUTO NÃO TENHA ESTOQUE-->
			{% if product.stock <= 0 %}
			<div class="text-center">
					<h4> <b class="text-danger">Produto esgotado! </b></h4>
					<form>
						  <div class="form-group">
							<input type="email" class="form-control"   placeholder="exemplo@exemplo.com">
							<small id="emailHelp" class="form-text text-muted">Te avisamos quando este produto estiver disponível.</small>
						  </div>
							  <button type="submit" class="btn btn-block  btn-primary mb-2">Me avise</button>
					</form>
			</div>
			{% else %}
						<!-- SE POSUSI ESTOQUE PODE ADICIONAR NO CARRINHO -->
						<button type="submit" class="btn btn-lg  btn-primary"> <span class="text">Comprar</span> <i class="fas fa-shopping-cart"></i>  </button>
						<a  href="{% url 'cart' %}"  class="btn btn-lg btn-success"> <span class="text"> Ver meu carrinho </span> <i class="fas fa-eye"></i>  </a>
			{% endif %}


		</article>

	</form>

			<!-- product-info-aside .// -->

		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3> Avaliações </h3>

	</header>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="{% static '/images/avatars/avatar3.jpg' %}" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>
				<h6 class="mb-1">Mike John </h6>

			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip
			</p>
		</div>
	</article>



	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}