{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h3 class="title-page"> Produtos encontrados para "{{ search_key }}" </h3>
	{% else %}
		<h2 class="title-page">NOSSOS PRODUTOS</h2>
	{% endif %}
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categorias</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
						<li><a href="{% url 'store' %}"> Todos  </a></li>
					{% for cat in links %}
						<li><a href="{{ cat.get_url }}"> {{ cat.category_name }}  </a></li>
					{% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Tamanho </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_4" style="">
			<div class="card-body">
			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> P </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> M </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> G </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> GG </span>
			  </label>
		</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Preço</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">

				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select class="mr-2 form-control">
						<option value="0">R$ 0</option>
						<option value="50">R$ 50,00</option>
						<option value="100">R$ 100,00</option>
						<option value="150">R$ 150,00</option>
						<option value="200">R$ 200,00</option>
						<option value="500">R$ 500,00</option>
						<option value="1000">R$ 1.000,00</option>
					</select>
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select class="mr-2 form-control">
						<option value="0">R$ 0</option>
						<option value="50">R$ 50,00</option>
						<option value="100">R$ 100,00</option>
						<option value="150">R$ 150,00</option>
						<option value="200">R$ 200,00</option>
						<option value="500">R$ 500,00</option>
						<option value="1000">R$ 1.000,00</option>
						<option value="2000">R$ 2.000,00+</option>
					</select>
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-primary">Aplicar</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ quant_products }}</b> produtos encontrados. </span>

		</div>
</header><!-- sect-heading -->

<!-- listando produtos start -->
<div class="row centered">
	{% if products %}

			{% for prod in products  %}
				<div class="col-md-4">
					<figure class="card card-product-grid">
						<div class="img-wrap">
						<a href="{{ prod.get_url }}">	<img src="{{ prod.images.url }}"></a>

						</div> <!-- img-wrap.// -->
						<figcaption class="info-wrap text-center ">
							<div class="fix-height">
								<a href="{{ prod.get_url }}" class="title">{{ prod.product_name }}</a>
								<div class="price-wrap mt-2">
									<span class="price">R$ {{ prod.price }}</span>
								</div> <!-- price-wrap.// -->
							</div>
							<a href="{{ prod.get_url }}" class=" btn btn-block  btn-outline-primary"> <span class="text"> Conferir </span> <i class="fas fa-eye"></i>  </a>

						</figcaption>
					</figure>
				</div> <!-- col.// -->
			{% endfor %}

	{% else %}

		{% include 'store/product_not_found.html' %}

	{% endif %}
</div>
<!-- listando produtos end -->

<!-- PAGINAÇÃO START -->
<nav class="mt-4" aria-label="Page navigation sample">
{% if products.has_other_pages %}

  <ul class="pagination">
	  {% if products.has_previous %}
			<li class="page-item" >
			  <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			  </a>
			</li>
	  {% else %}
	  		<li class="page-item disabled" >
			  <a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			  </a>
			</li>
	  {% endif %}

	  {% for num in products.paginator.page_range %}

	  		{% if products.number  == num %}
	  		    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
			{% else %}
	  			<li class="page-item"><a class="page-link" href="?{% if search_key %}search_key={{search_key}}&{% endif %}page={{num}}">{{num}}</a></li>
	  		{% endif %}

	  {% endfor %}

	  {% if products.has_next %}
	  		<li class="page-item">
				  <a class="page-link" href="?{% if search_key %}search_key={{search_key}}&{% endif %}page={{products.next_page_number}}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				  </a>
			</li>
	  {% else %}
	  		<li class="page-item disabled">
				  <a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				  </a>
			</li>
	  {% endif %}
  </ul>
{% endif %}
</nav>


<!-- PAGINAÇÃO END -->


	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}